@using Vrooms.Domain.Entities
@model IEnumerable<Language>

@{
    bool horizontal = ((bool)(ViewContext.RouteData.Values["useHorizontalMenu"] ?? false));
    string menuDivStyle = horizontal ? "btn-group btn-group-sm btn-group-justified" : null;
}

<div class="@menuDivStyle">

    @Html.ActionLink("Home", "List", "Book", null,
        new
        {
            @class = horizontal ? "btn btn-default btn-sm" :
                "btn btn-block btn-default btn-lg"
        })

    @foreach (var m in Model)
    {
        @Html.RouteLink(m.LanguageName_En, new
{
    controller = "Book",
    action = "List",
    langId = m.LanguageId,
    pageNum = 1
}, new
{
    @class = (horizontal ? "btn btn-default btn-sm": "btn btn-block btn-default btn-lg" )
    + (m.LanguageId == ViewBag.SelectedLanguageId ? " btn-primary" : "")
})
    }

</div>