@model Vrooms.Domain.Entities.Cart

<div class="navbar-right">
    <a href=@Url.Action("Index", "Cart", new { returnUrl = Request.Url.PathAndQuery })
       class="btn btn-default navbar-btn">
        <span class="glyphicon glyphicon-shopping-cart"></span>
    </a>
    <span class="navbar-text"><b>@Model.Items.Count() book(s)</b></span>
</div>

