@model Vrooms.Domain.Entities.Cart

<div class="navbar-text navbar-right">
    <b>@Model.Items.Count() book(s)</b>
</div>
<div class="navbar-right">
    @Html.ActionLink("Reserve", "Index", "Cart",
        new { returnUrl = Request.Url.PathAndQuery },
        new { @class = "btn btn-default navbar-btn" })
</div>

