@using Vrooms.WebUI.HtmlHelpers
@model Vrooms.WebUI.Models.BooksListViewModel

@{
    ViewBag.Title = "Books";
}

<div class="container-fluid">
    <div class="btn-group pull-right">
        @Html.PageLinks(Model.Pagination,
            i => Url.Action("List",
                new { pageNum = i, langId = Model.CurrentLanguageId })
                )
    </div>
</div>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
   
        @foreach (var book in @Model.Books)
        {
            @Html.Partial("BookSummary", book)
        }

</div>

