@using Vrooms.Domain.Entities
@model IEnumerable<Book>

@{
    ViewBag.Title = "Books";
}

@foreach (var p in @Model)
{
    <div>
        <h3><strong>@p.Title</strong></h3>
        <h4>@p.Author</h4>
        <p>@p.Description</p>
        <hr />
    </div>
}
